#boton{
border: 8px solid mediumorchid;
font-size: 20px;
font-family:ravie;
position: relative;
top: 20px;
left: 1250px;
}
#letras{
    position: relative;
    top: 40px;
    left: 300px;
font-size: 20px;
font-family:ravie;
}
#titulo{
    background-color:mediumorchid;
    color: powderblue;
    border: 1px solid black;
    padding: 20px;
    margin: 30px;
    position: relative;
    top: 40px;
    left: 400px;
    font-size: 50px;
    font-family:freestyle script;
       }
    #imagen{
    position: relative;
    top: 40px;
    left: 520px; 
    }
    #huellas{
    position: relative;
    top: 120px;
    left: 400px;  
    }
    #indicacion{
    position: relative;
    top: 430px;
    left: 700px; 
    }
    
    .miBoton{
        margin:0 auto;
        width:20%;
        position: relative;
        top: 40px;
        left:400px; 
    }
    #weimaraner{
    position: relative;
    top: 110px;
    left: 120px; 
    }
    #pincher{
    position: relative;
    top: 110px;
    left: 150px; 
    }
    
   #pastor{
    position: relative;
    top: 110px;
    left: 220px; 
    }
    
    #cocker{
    position: relative;
    top: 110px;
    left: 300px; 
    }
    #primero{
    position: relative;
    top: 60px;
    left: 130px;
font-size: 20px;
font-family:ravie;  
    }
    #segundo{
    position: relative;
     top: 60px;
    left: 250px;
font-size: 20px;
font-family:ravie;  
    }
     #tercero{
    position: relative;
     top: 60px;
    left: 410px;
font-size: 20px;
font-family:ravie;  
    }
     #cuarto{
    position: relative;
     top: 60px;
    left: 540px;
font-size: 20px;
font-family:ravie;  
    }
    #titulito{
    position: relative;
    top: 5px;
    left: 400px;
    font-size: 20px;
    font-family:ravie; 
    }
    #mapa{
    position: relative;
    top: 40px;
    left: 400px;    
    }